<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<main class="main">
			<%- include('./partials/menu') %>
			<div class="content">
				<h1><%= title %></h1>
				<ul>
					<% data.forEach(item => { %>
					<li><a href="<%= item.url %>"><%= item.name %></a></li>
					<% }) %>
				</ul>
			</div>
		</main>
	</body>
</html>
