<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Item details</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<main class="main">
			<%- include('./partials/menu') %>
			<div class="content">
				<h1><%= title %></h1>
				<div class="item-details">
					<div class="detail-item">
						<% const {name, description, price, category, producer, quantity} = data %>
						<div class="detail-left"><b>Item name: </b></div>
						<div class="detail-right"><%= name %></div>
						<div class="detail-left"><b>Item description: </b></div>
						<div class="detail-right"><%= description %></div>
						<div class="detail-left"><b>Item price: </b></div>
						<div class="detail-right"><%= price %></div>
						<div class="detail-left"><b>Item category: </b></div>
						<div class="detail-right">
							<% category.forEach(element => { %> <%= element.name %> <% }) %>
						</div>
						<div class="detail-left"><b>Producer: </b></div>
						<div class="detail-right"><%= producer.name %></div>
						<div class="detail-left"><b>In stock </b></div>
						<div class="detail-right"><%= quantity %></div>
					</div>
					<a href="<%= data.url + '/delete' %> ">Delete item</a>
					<a href="<%= data.url + '/update' %> ">Update item</a>
				</div>
			</div>
		</main>
	</body>
</html>
